USE [InstaCart _Grocery_Basket_DW]
GO
/****** Object:  Table [dbo].[DimAisle]    Script Date: 5/29/2026 4:35:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimAisle](
	[aisle_SK] [int] IDENTITY(1,1) NOT NULL,
	[aisle_id] [int] NOT NULL,
	[aisle_name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[aisle_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimCustomer]    Script Date: 5/29/2026 4:35:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCustomer](
	[customer_SK] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[first_name] [nvarchar](500) NULL,
	[last_name] [nvarchar](500) NULL,
	[phone_number] [nvarchar](500) NULL,
	[email] [nvarchar](500) NULL,
	[gender] [nvarchar](50) NULL,
	[age] [int] NULL,
	[street_address] [nvarchar](500) NULL,
	[city] [nvarchar](500) NULL,
	[country] [nvarchar](500) NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[is_current] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDate]    Script Date: 5/29/2026 4:35:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[DateKey] [int] NOT NULL,
	[Date] [datetime] NULL,
	[FullDateUK] [char](10) NULL,
	[FullDateUSA] [char](10) NULL,
	[DayOfMonth] [varchar](2) NULL,
	[DaySuffix] [varchar](4) NULL,
	[DayName] [varchar](9) NULL,
	[DayOfWeekUSA] [char](1) NULL,
	[DayOfWeekUK] [char](1) NULL,
	[DayOfWeekInMonth] [varchar](2) NULL,
	[DayOfWeekInYear] [varchar](2) NULL,
	[DayOfQuarter] [varchar](3) NULL,
	[DayOfYear] [varchar](3) NULL,
	[WeekOfMonth] [varchar](1) NULL,
	[WeekOfQuarter] [varchar](2) NULL,
	[WeekOfYear] [varchar](2) NULL,
	[Month] [varchar](2) NULL,
	[MonthName] [varchar](9) NULL,
	[MonthOfQuarter] [varchar](2) NULL,
	[Quarter] [char](1) NULL,
	[QuarterName] [varchar](9) NULL,
	[Year] [char](4) NULL,
	[YearName] [char](7) NULL,
	[MonthYear] [char](10) NULL,
	[MMYYYY] [char](6) NULL,
	[FirstDayOfMonth] [date] NULL,
	[LastDayOfMonth] [date] NULL,
	[FirstDayOfQuarter] [date] NULL,
	[LastDayOfQuarter] [date] NULL,
	[FirstDayOfYear] [date] NULL,
	[LastDayOfYear] [date] NULL,
	[IsHolidaySL] [bit] NULL,
	[IsWeekday] [bit] NULL,
	[HolidaySL] [varchar](50) NULL,
	[isCurrentDay] [int] NULL,
	[isDataAvailable] [int] NULL,
	[isLatestDataAvailable] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDepartment]    Script Date: 5/29/2026 4:35:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDepartment](
	[department_SK] [int] IDENTITY(1,1) NOT NULL,
	[department_id] [int] NOT NULL,
	[department_name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[department_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimProduct]    Script Date: 5/29/2026 4:35:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProduct](
	[product_SK] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[product_name] [nvarchar](255) NULL,
	[department_SK] [int] NULL,
	[aisle_SK] [int] NULL,
	[rating_SK] [int] NULL,
	[date_listed] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimRating]    Script Date: 5/29/2026 4:35:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimRating](
	[rating_SK] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[number_of_raters] [int] NULL,
	[rating] [float] NULL,
	[rating_category] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[rating_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactOrder]    Script Date: 5/29/2026 4:35:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactOrder](
	[order_id] [int] NULL,
	[customer_SK] [int] NULL,
	[product_SK] [int] NULL,
	[DateSK] [int] NULL,
	[unit_price] [float] NULL,
	[discount] [float] NULL,
	[selling_price] [float] NULL,
	[accm_txn_create_time] [datetime] NULL,
	[accm_txn_complete_time] [datetime] NULL,
	[txn_process_time_hours] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FactOrder] ADD  DEFAULT (getdate()) FOR [accm_txn_create_time]
GO
/****** Object:  StoredProcedure [dbo].[UpdateDimAisle]    Script Date: 5/29/2026 4:35:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateDimAisle]
    @aisle_id INT,
    @aisle_name NVARCHAR(100)
AS
BEGIN
    IF NOT EXISTS (
        SELECT aisle_SK
        FROM dbo.DimAisle
        WHERE aisle_id = @aisle_id
    )
    BEGIN
        INSERT INTO dbo.DimAisle (aisle_id, aisle_name)
        VALUES (@aisle_id, @aisle_name);
    END

    ELSE
    BEGIN
        UPDATE dbo.DimAisle
        SET aisle_name = @aisle_name
        WHERE aisle_id = @aisle_id;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateDimDepartment]    Script Date: 5/29/2026 4:35:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateDimDepartment]
    @department_id INT,
    @department_name NVARCHAR(50)
AS
BEGIN
    IF NOT EXISTS (
        SELECT department_SK
        FROM dbo.DimDepartment
        WHERE department_id = @department_id
    )
    BEGIN
        INSERT INTO dbo.DimDepartment (department_id, department_name)
        VALUES (@department_id, @department_name);
    END

    ELSE
    BEGIN
        UPDATE dbo.DimDepartment
        SET department_name = @department_name
        WHERE department_id = @department_id;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateDimProduct]    Script Date: 5/29/2026 4:35:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateDimProduct]
    @product_id INT,
    @product_name NVARCHAR(500),
    @department_SK INT,
    @aisle_SK INT,
    @rating_SK INT,
    @date_listed DATE
AS
BEGIN
    IF NOT EXISTS (
        SELECT product_SK
        FROM dbo.DimProduct
        WHERE product_id = @product_id
    )
    BEGIN
        INSERT INTO dbo.DimProduct
        (
            product_id,
            product_name,
            department_SK,
            aisle_SK,
            rating_SK,
            date_listed
        )
        VALUES
        (
            @product_id,
            @product_name,
            @department_SK,
            @aisle_SK,
            @rating_SK,
            @date_listed
        );
    END
    ELSE
    BEGIN
        UPDATE dbo.DimProduct
        SET
            product_name = @product_name,
            department_SK = @department_SK,
            aisle_SK = @aisle_SK,
            rating_SK = @rating_SK,
            date_listed = @date_listed
        WHERE product_id = @product_id;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateTxnProcessingTime]    Script Date: 5/29/2026 4:35:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_UpdateTxnProcessingTime]
    @order_id INT,
    @accm_txn_create_time DATETIME,
    @accm_txn_complete_time DATETIME,
    @txn_process_time_hours INT
AS
BEGIN
    UPDATE dbo.FactOrder
    SET
        accm_txn_create_time = @accm_txn_create_time,
        accm_txn_complete_time = @accm_txn_complete_time,
        txn_process_time_hours = @txn_process_time_hours
    WHERE order_id = @order_id;
END;
GO
